<html>
    <head>
        <title>Manifestopheles</title>
<link rel="stylesheet" type="text/css" href="/bags/static/tiddlers/feelies.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
        type="text/javascript"></script>
<script src="/bags/static/tiddlers/feelies.js"
        type='text/javascript'></script>
<script type='text/javascript'>
var weAuthed = '{{ weAuthed }}';
</script>
    </head>
    <body>
        <h1>Manifestos</h1>
    <div id="realbody">
    <div id="editorial">
        I am the walrus.
    </div>
<div id="content">
    <ul>
{% for recipe in recipes %}
    <li><a href="/manifestos/{{ recipe.name }}">{{ recipe.name }}</a></li>
{% endfor %}
    </ul>
</div>
    </div>
    <div id="actions">
    <div class="activate"><input id="manifest" type="button" value="manifest!"/></div>
    <div class="activate"><input class="grayed" id="xpontificate" type="button" value="pontificate!"/></div>
    <div class="activate"><input class="grayed" id="xcontextify" type="submit" value="contextify!"/></div>
    </div>
    </body>
</html>
