<html>
    <head>
        <title>Manifestopheles</title>
<link rel="stylesheet" type="text/css" href="/static/feelies.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
        type="text/javascript"></script>
<script src="/static/feelies.js"
        type='text/javascript'></script>
<script type='text/javascript'>
var weAuthed = '{{ weAuthed }}';
</script>
    </head>
    <body>
        <h1>Manifestos</h1>
    <div id="realbody">
    <div id="editorial">
    </div>
<div id="content">
    <ul>
{% for recipe in recipes %}
    <li><a href="/manifestos/{{ recipe.name }}">{{ recipe.name }}</a></li>
{% endfor %}
    </ul>
</div>
    </div>
    </body>
</html>
